<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>NodeJS Server</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet">
    </head>
    <body>
        <header>
            <img src="logo-nodeJS.png" alt="Logo officiel de NodeJS">
            <h2>My first NodeJS server !</h2>
            <h3>From Scratch</h3>
        </header>
        <!-- Ajoutez votre contenu ici. -->
        <footer>
            <a href="https://www.linkedin.com/in/robinpalmier" class="credits" target="_blank">
                <p> Developed by&nbsp;&nbsp;</p>
                <img src="logo_RobinPalmier.svg" class="robinpalmier" alt="Logo de Robin Palmier">
                <p>&nbsp;&nbsp;Robin Palmier</p>
            </a>
        </footer>
        <script src="app.js"></script>
    </body>
</html>